<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Entrata Test Suite" data-provider-thread-count="1">
    <parameter name="browser" value="chrome" />
    <listeners>
        <listener class-name="config.Listeners" />
    </listeners>
    <test name="Test_Parallel" thread-count="1" parallel="classes" enabled="true">
        <classes>
<!--            <class name="entrata_tests.CheckBrokenLinkOfPageTest"></class>-->
            <class name="entrata_tests.DownloadReportTest"/>
<!--            <class name="entrata_tests.LoginTest"></class>-->
<!--            <class name="entrata_tests.HomePageTest"></class>-->
        </classes>
    </test>
</suite>